html, body{
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
    color: #000;
    text-justify: inter-ideograph;
    font-size: 10.5pt;
    font-family: "Times New Roman",serif;
}
.word-wrapper {
    width: 800px;
    background: #fff;
    margin: 0 auto;
    min-height: 100vh;
    padding: 50px 50px;
}
.word-wrapper .toolbar {
    display: inline-block;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-top: -150px;
    margin-right: -460px;
}
.word-wrapper .export {
    position: fixed;
    top: 50px;
    right: 50%;
    margin-right: -535px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.word-wrapper .export:hover {
    color: #000;
}
.word-wrapper .word-icon {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #0054a6;
    color: white;
    padding: 2px 5px;
    vertical-align: middle;
    margin-right: 8px;
}
.word-wrapper .toolbar .w-e-droplist{
    left: 10px;
    top: -36px;
    margin-left: 20px;
}
.word-wrapper .word-header span {
    font-size: 24.0pt;
    line-height: 150%;
    font-family: SimSun;
    layout-grid-mode: line;
    font-weight: bold;
}
.word-wrapper .version {
    text-align: center;
    line-height: 47.0pt;
    font-size:16.0pt;
    layout-grid-mode:line;
}
.word-wrapper .version .symbol {
    font-size:16.0pt;
    font-family: FangSong_GB2312;
    layout-grid-mode:line
}
.word-wrapper .line-bold {
    border-bottom: solid 1.5pt #000;
    padding: 0cm 0cm 1.0pt 0cm;
    margin-top: 15pt;
}
.word-wrapper .word-content .title {
    margin-top: 15.6pt;
    margin-bottom: 15.6pt;
    margin-left: 0cm;
    text-align: center;
    line-height: 150%;
}
.word-wrapper .word-content .editor{
    font-family: FangSong_GB2312;
    min-height: 100px;
    text-align: left;
    cursor: text;
}
.word-wrapper .word-content .editor>div {
    overflow: hidden;
    min-height: 100px;
}
.word-wrapper .word-content .title span{
    font-size:16.0pt;
    line-height:150%;
    font-family: SimSun;
    layout-grid-mode:line;
    font-weight: bold;
}
.word-wrapper .footer .date{
    text-align: right;
    font-size: 14.0pt;
    font-family: SimSun;
    line-height:24.0pt;
}
.word-wrapper .footer .line-thin{
    border-bottom: solid 1px #000;
}
.word-wrapper .footer .contact {
    text-align: left;
    font-family: SimSun;
    height: 22.7pt;
    line-height: 22.7pt;
}
.word-wrapper .footer .contact span{
    margin-right: 50px;
}
.word-wrapper .w-e-text p, .w-e-text h1,
.word-wrapper .w-e-text h2, .w-e-text h3, 
.word-wrapper .w-e-text h4, .w-e-text h5, 
.word-wrapper .w-e-text table, 
.word-wrapper .w-e-text li,
.word-wrapper .w-e-text pre {
    line-height: 2;
    margin: 0px;
}